.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

 
.file-url-video {
  width: 100%;
  height: 360px;
}

.green-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  width: 100%; /* Make the button span the full width of its container */
  border-radius: 8px; /* Add this line to round the corners */
}

.green-button:hover {
  background-color: #08a853; /* Change the background color on hover */
  transition: background-color 0.3s ease;
}

.media-container {
  display: flex;
  align-items: center;
  width: 640px;
  margin: 10px;
  gap: 10px; /* Optional: Add some space between the video and the image */
}

.first-down-image {
  margin: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
